@import '../abstract/root';

body {
    position: relative;
    background-color: var(--background);
    padding: 3.6rem 2.5rem 4.6rem 2.5rem;
    z-index: 0;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 23.5rem;
        border-radius: 0 0 2rem 2rem;
        background-color: var(--top-background);
        z-index: -1;
      }

    .intro {
        .intro__text {
            .text__title {
                @include text ($title, $w7, var(--main-text));
            }

            .text__subtitle {
                @include text ($subtitle, $w7, var(--sub-text));
                letter-spacing: 0.01em;
                margin: .43rem 0 2.4rem;
            }
        }

        hr {
            width: 100%;
            border-bottom: 2px solid var(--sub-text);
            margin: unset;
        }

        .intro__toggle-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.6rem 0 4rem;

            .toggle__title {
                @include text ($def-mobile, $w7, var(--sub-text));
            }

            .toggle__button {
                position: relative;
                width: 4.8rem;
                height: 2.4rem;
                appearance: none;
                background-color: var(--toggle);
                border-radius: 2rem;
                cursor: pointer;
                transition: .4s;

                &:hover {
                    background-image: var(--dt-toggle);
                }

                &:checked {
                    background-image: var(--dt-toggle);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    bottom: 3px;
                    width: 1.8rem;
                    height: 1.8rem;
                    background-color: var(--top-background);
                    border-radius: 50%;
                    transition: .4s;
                }

                &:checked:before {
                    transform: translateX(-2.4rem);
                }
            }
        }
    }
}