@import '../abstract/root';

main {
    .social-media__dashboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.4rem;

        .dashboard__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
            background-color: var(--card-background);
            max-width: 32.5rem;
            padding: 3rem 9.7rem 2.3rem 9.9rem;

            .card__media-user {
                display: flex;
                align-items: center;
                height: fit-content;
                margin-bottom: 2rem;

                .card__media {
                    margin-right: 0.8rem;
                }

                .card__user {
                    @include text ($def-mobile, $w7, var(--sub-text));
                }
            }

            .card__value {
                @include text ($fan-value, $w7, var(--main-text));
                letter-spacing: -0.05em;
                margin: .5rem 0
            }

            .card__fans {
                @include text ($def-mobile, $w4, var(--main-text));
                letter-spacing: 0.42em;
                text-transform: uppercase;
            }

            .card__arrow-var {
                display: flex;
                align-items: center;
                height: fit-content;
                margin-top: 2.8rem;

                .card__arrow {
                    padding-right: 0.2rem;
                }

                .card__variance {
                    @include text ($def-mobile, $w7, $def-lime-green);
                    letter-spacing: 0.01em;
                    padding-left: 0.2rem;
                }

                .--negative {
                    @include text ($def-mobile, $w7, $def-bright-red);
                    letter-spacing: 0.01em;
                }
            }
        }

        .--facebook {
            @include border(.4rem, solid, $def-facebook)
        }

        .--twitter {
            @include border(.4rem, solid, $def-twitter)
        }

        .--instagram {
            background-image: $def-instagram-gradient;
            background-clip: padding-box;
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% .4rem;
            margin: .4rem 0 0 0;
        }

        .--youtube {
            @include border(.4rem, solid, $def-youtube)
        }
    }
}