@import '../abstract/root';
@import '../abstract/global';

main {

    .overview {}

    .overview__dashboard {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;

        .dashboard__stats {
            display: grid;
            grid-template-areas:
                "title media"
                "value arrow-var";
            grid-template-columns: 1fr auto;
            background-color: $lt-card-background;
            width: 32.6rem;
            height: 12.5rem;
            padding: 2.6rem 3.1rem 1.9rem 2.4rem;
            box-sizing: border-box
        }

        .stats__title {
            @include text ($s14, $w7, $lt-sub-text);
            grid-area: title;
        }

        .stats__media {
            grid-area: media;
            justify-self: end;
        }

        .stats__value {
            @include text ($s32, $w7, $lt-main-text);
            grid-area: value;
            align-self: end;
        }

        .stats__arrow-var {
            grid-area: arrow-var;
            align-self: end;
            display: flex;
            align-items: center;


            .stats__arrow {}

            .stats__variance {
                @include text ($s12, $w7, $def-lime-green);

            }

            .--negative {
                color: $def-bright-red;
            }
        }
    }
}