@import '../abstract/root';

main {

    .overview {
        @include text ($title, $w7, var(--sub-text));
        margin: 4.6rem 0 2.7rem
    }

    .overview__dashboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem;

        .dashboard__stats {
            display: flex;
            justify-content: space-between;
            background-color: var(--card-background);
            width: 100%;
            max-width: 32.5rem;
            padding: 2.7rem 3.1rem 1.9rem 2.4rem;
        }

        .stats__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 3.2rem;

            .stats__title {
                @include text ($subtitle, $w7, var(--sub-text));
            }

            .stats__value {
                @include text ($stats-value, $w7, var(--main-text));
            }

            .stats__arrow-var {
                align-self: end;
                display: flex;
                align-items: center;

                .stats__variance {
                    @include text ($def-mobile, $w7, $def-lime-green);

                }

                .--negative {
                    color: $def-bright-red;
                }
            }
        }
    }
}