@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  padding: 3.6rem 2.4rem 4.6rem 2.5rem;
}
body .intro .intro__text .text__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
}
body .intro .intro__text .text__sub-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  letter-spacing: -0.02em;
  margin: 0.4rem 0 2.4rem;
}
body .intro hr {
  width: 100%;
  border-bottom: 2px solid hsl(228, 12%, 44%);
}
body .intro .intro__toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0 4rem;
}
body .intro .intro__toggle-button .toggle__title {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
body .intro .intro__toggle-button .toggle__button {
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: hsl(230, 22%, 74%);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.4s;
}
body .intro .intro__toggle-button .toggle__button:hover {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
body .intro .intro__toggle-button .toggle__button:checked {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
body .intro .intro__toggle-button .toggle__button::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  width: 1.8rem;
  height: 1.8rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 50%;
  transition: 0.4s;
}
body .intro .intro__toggle-button .toggle__button:checked:before {
  transform: translateX(-2.4rem);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body main .social-media__dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
}
body main .social-media__dashboard .dashboard__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  background-color: hsl(227, 47%, 96%);
  width: 32.5rem;
  height: 21.6rem;
  padding: 3rem 9.7rem 2.3rem 9.9rem;
}
body main .social-media__dashboard .dashboard__card .card__media-user {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1.6rem;
}
body main .social-media__dashboard .dashboard__card .card__media-user .card__media {
  margin-right: 0.8rem;
}
body main .social-media__dashboard .dashboard__card .card__media-user .card__user {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
body main .social-media__dashboard .dashboard__card .card__value {
  font-size: 5.7rem;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
  letter-spacing: -0.05em;
}
body main .social-media__dashboard .dashboard__card .card__fans {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(230, 17%, 14%);
  letter-spacing: 0.42em;
  text-transform: uppercase;
}
body main .social-media__dashboard .dashboard__card .card__arrow-var {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2.5rem;
}
body main .social-media__dashboard .dashboard__card .card__arrow-var .card__arrow {
  padding-right: 0.2rem;
}
body main .social-media__dashboard .dashboard__card .card__arrow-var .card__variance {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
  letter-spacing: 0.01em;
  padding-left: 0.2rem;
}
body main .social-media__dashboard .dashboard__card .card__arrow-var .--negative {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(356, 69%, 56%);
  letter-spacing: 0.01em;
}
body main .social-media__dashboard .--facebook {
  border-top: 0.4rem solid hsl(208, 92%, 53%);
}
body main .social-media__dashboard .--twitter {
  border-top: 0.4rem solid hsl(203, 89%, 53%);
}
body main .social-media__dashboard .--instagram {
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 0.4rem;
  margin: 0.4rem 0 0 0;
}
body main .social-media__dashboard .--youtube {
  border-top: 0.4rem solid hsl(348, 97%, 39%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body main .overview {
  font-size: 2.4rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  margin: 4.6rem 0 2.7rem;
}
body main .overview__dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
body main .overview__dashboard .dashboard__stats {
  display: grid;
  grid-template-areas: "title media" "value arrow-var";
  grid-template-columns: 1fr auto;
  background-color: hsl(227, 47%, 96%);
  width: 32.6rem;
  height: 12.5rem;
  padding: 2.6rem 3.1rem 1.9rem 2.4rem;
}
body main .overview__dashboard .stats__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
  grid-area: title;
}
body main .overview__dashboard .stats__media {
  grid-area: media;
  justify-self: end;
}
body main .overview__dashboard .stats__value {
  font-size: 3.2rem;
  font-weight: 700;
  color: hsl(230, 17%, 14%);
  grid-area: value;
  align-self: end;
}
body main .overview__dashboard .stats__arrow-var {
  grid-area: arrow-var;
  align-self: end;
  display: flex;
  align-items: center;
}
body main .overview__dashboard .stats__arrow-var .stats__variance {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
}
body main .overview__dashboard .stats__arrow-var .--negative {
  color: hsl(356, 69%, 56%);
}/*# sourceMappingURL=style.css.map */