@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --dt-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dt-top-background: hsl(232, 19%, 15%);
  --dt-background: hsl(230, 17%, 14%);
  --dt-card-background: hsl(228, 28%, 20%);
  --dt-main-text: hsl(0, 0%, 100%);
  --dt-sub-text: hsl(228, 34%, 66%);
  --dt-hover: hsl(228, 26%, 27%);
  --lt-toggle: hsl(230, 22%, 74%);
  --lt-top-background: hsl(225, 100%, 98%);
  --lt-background: hsl(0, 0%, 100%);
  --lt-card-background: hsl(227, 47%, 96%);
  --lt-main-text: hsl(230, 17%, 14%);
  --lt-sub-text: hsl(228, 12%, 44%);
  --lt-hover: hsl(232, 33%, 91%);
}

:root {
  --toggle: var(--lt-toggle);
  --top-background: var(--lt-top-background);
  --background: var(--lt-background);
  --card-background: var(--lt-card-background);
  --main-text: var(--lt-main-text);
  --sub-text: var(--lt-sub-text);
  --hover: var(--lt-hover);
}

.--dark-mode {
  --toggle: var(--dt-toggle);
  --top-background: var(--dt-top-background);
  --background: var(--dt-background);
  --card-background: var(--dt-card-background);
  --main-text: var(--dt-main-text);
  --sub-text: var(--dt-sub-text);
  --hover: var(--dt-hover);
}

:root {
  --dt-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dt-top-background: hsl(232, 19%, 15%);
  --dt-background: hsl(230, 17%, 14%);
  --dt-card-background: hsl(228, 28%, 20%);
  --dt-main-text: hsl(0, 0%, 100%);
  --dt-sub-text: hsl(228, 34%, 66%);
  --dt-hover: hsl(228, 26%, 27%);
  --lt-toggle: hsl(230, 22%, 74%);
  --lt-top-background: hsl(225, 100%, 98%);
  --lt-background: hsl(0, 0%, 100%);
  --lt-card-background: hsl(227, 47%, 96%);
  --lt-main-text: hsl(230, 17%, 14%);
  --lt-sub-text: hsl(228, 12%, 44%);
  --lt-hover: hsl(232, 33%, 91%);
}

:root {
  --toggle: var(--lt-toggle);
  --top-background: var(--lt-top-background);
  --background: var(--lt-background);
  --card-background: var(--lt-card-background);
  --main-text: var(--lt-main-text);
  --sub-text: var(--lt-sub-text);
  --hover: var(--lt-hover);
}

.--dark-mode {
  --toggle: var(--dt-toggle);
  --top-background: var(--dt-top-background);
  --background: var(--dt-background);
  --card-background: var(--dt-card-background);
  --main-text: var(--dt-main-text);
  --sub-text: var(--dt-sub-text);
  --hover: var(--dt-hover);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

:root {
  --dt-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dt-top-background: hsl(232, 19%, 15%);
  --dt-background: hsl(230, 17%, 14%);
  --dt-card-background: hsl(228, 28%, 20%);
  --dt-main-text: hsl(0, 0%, 100%);
  --dt-sub-text: hsl(228, 34%, 66%);
  --dt-hover: hsl(228, 26%, 27%);
  --lt-toggle: hsl(230, 22%, 74%);
  --lt-top-background: hsl(225, 100%, 98%);
  --lt-background: hsl(0, 0%, 100%);
  --lt-card-background: hsl(227, 47%, 96%);
  --lt-main-text: hsl(230, 17%, 14%);
  --lt-sub-text: hsl(228, 12%, 44%);
  --lt-hover: hsl(232, 33%, 91%);
}

:root {
  --toggle: var(--lt-toggle);
  --top-background: var(--lt-top-background);
  --background: var(--lt-background);
  --card-background: var(--lt-card-background);
  --main-text: var(--lt-main-text);
  --sub-text: var(--lt-sub-text);
  --hover: var(--lt-hover);
}

.--dark-mode {
  --toggle: var(--dt-toggle);
  --top-background: var(--dt-top-background);
  --background: var(--dt-background);
  --card-background: var(--dt-card-background);
  --main-text: var(--dt-main-text);
  --sub-text: var(--dt-sub-text);
  --hover: var(--dt-hover);
}

body {
  position: relative;
  background-color: var(--background);
  padding: 3.6rem 2.5rem 4.6rem 2.5rem;
  z-index: 0;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23.5rem;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--top-background);
  z-index: -1;
}
body .intro .intro__text .text__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-text);
}
body .intro .intro__text .text__subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--sub-text);
  letter-spacing: 0.01em;
  margin: 0.43rem 0 2.4rem;
}
body .intro hr {
  width: 100%;
  border-bottom: 2px solid var(--sub-text);
  margin: unset;
}
body .intro .intro__toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0 4rem;
}
body .intro .intro__toggle-button .toggle__title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--sub-text);
}
body .intro .intro__toggle-button .toggle__button {
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--toggle);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.4s;
}
body .intro .intro__toggle-button .toggle__button:hover {
  background-image: var(--dt-toggle);
}
body .intro .intro__toggle-button .toggle__button:checked {
  background-image: var(--dt-toggle);
}
body .intro .intro__toggle-button .toggle__button::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--top-background);
  border-radius: 50%;
  transition: 0.4s;
}
body .intro .intro__toggle-button .toggle__button:checked:before {
  transform: translateX(-2.4rem);
}

:root {
  --dt-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dt-top-background: hsl(232, 19%, 15%);
  --dt-background: hsl(230, 17%, 14%);
  --dt-card-background: hsl(228, 28%, 20%);
  --dt-main-text: hsl(0, 0%, 100%);
  --dt-sub-text: hsl(228, 34%, 66%);
  --dt-hover: hsl(228, 26%, 27%);
  --lt-toggle: hsl(230, 22%, 74%);
  --lt-top-background: hsl(225, 100%, 98%);
  --lt-background: hsl(0, 0%, 100%);
  --lt-card-background: hsl(227, 47%, 96%);
  --lt-main-text: hsl(230, 17%, 14%);
  --lt-sub-text: hsl(228, 12%, 44%);
  --lt-hover: hsl(232, 33%, 91%);
}

:root {
  --toggle: var(--lt-toggle);
  --top-background: var(--lt-top-background);
  --background: var(--lt-background);
  --card-background: var(--lt-card-background);
  --main-text: var(--lt-main-text);
  --sub-text: var(--lt-sub-text);
  --hover: var(--lt-hover);
}

.--dark-mode {
  --toggle: var(--dt-toggle);
  --top-background: var(--dt-top-background);
  --background: var(--dt-background);
  --card-background: var(--dt-card-background);
  --main-text: var(--dt-main-text);
  --sub-text: var(--dt-sub-text);
  --hover: var(--dt-hover);
}

main .social-media__dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
}
main .social-media__dashboard .dashboard__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  background-color: var(--card-background);
  max-width: 32.5rem;
  padding: 3rem 9.7rem 2.3rem 9.9rem;
  cursor: pointer;
}
main .social-media__dashboard .dashboard__card:hover {
  background-color: var(--hover);
}
main .social-media__dashboard .dashboard__card .card__media-user {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}
main .social-media__dashboard .dashboard__card .card__media-user .card__media {
  margin-right: 0.8rem;
}
main .social-media__dashboard .dashboard__card .card__media-user .card__user {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--sub-text);
}
main .social-media__dashboard .dashboard__card .card__value {
  font-size: 5.7rem;
  font-weight: 700;
  color: var(--main-text);
  letter-spacing: -0.05em;
  margin: 0.5rem 0;
}
main .social-media__dashboard .dashboard__card .card__fans {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main-text);
  letter-spacing: 0.42em;
  text-transform: uppercase;
}
main .social-media__dashboard .dashboard__card .card__arrow-var {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2.8rem;
}
main .social-media__dashboard .dashboard__card .card__arrow-var .card__arrow {
  padding-right: 0.2rem;
}
main .social-media__dashboard .dashboard__card .card__arrow-var .card__variance {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
  letter-spacing: 0.01em;
  padding-left: 0.2rem;
}
main .social-media__dashboard .dashboard__card .card__arrow-var .--negative {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(356, 69%, 56%);
  letter-spacing: 0.01em;
}
main .social-media__dashboard .--facebook {
  border-top: 0.4rem solid hsl(208, 92%, 53%);
}
main .social-media__dashboard .--twitter {
  border-top: 0.4rem solid hsl(203, 89%, 53%);
}
main .social-media__dashboard .--instagram {
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 0.4rem;
  margin: 0.4rem 0 0 0;
}
main .social-media__dashboard .--youtube {
  border-top: 0.4rem solid hsl(348, 97%, 39%);
}

:root {
  --dt-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dt-top-background: hsl(232, 19%, 15%);
  --dt-background: hsl(230, 17%, 14%);
  --dt-card-background: hsl(228, 28%, 20%);
  --dt-main-text: hsl(0, 0%, 100%);
  --dt-sub-text: hsl(228, 34%, 66%);
  --dt-hover: hsl(228, 26%, 27%);
  --lt-toggle: hsl(230, 22%, 74%);
  --lt-top-background: hsl(225, 100%, 98%);
  --lt-background: hsl(0, 0%, 100%);
  --lt-card-background: hsl(227, 47%, 96%);
  --lt-main-text: hsl(230, 17%, 14%);
  --lt-sub-text: hsl(228, 12%, 44%);
  --lt-hover: hsl(232, 33%, 91%);
}

:root {
  --toggle: var(--lt-toggle);
  --top-background: var(--lt-top-background);
  --background: var(--lt-background);
  --card-background: var(--lt-card-background);
  --main-text: var(--lt-main-text);
  --sub-text: var(--lt-sub-text);
  --hover: var(--lt-hover);
}

.--dark-mode {
  --toggle: var(--dt-toggle);
  --top-background: var(--dt-top-background);
  --background: var(--dt-background);
  --card-background: var(--dt-card-background);
  --main-text: var(--dt-main-text);
  --sub-text: var(--dt-sub-text);
  --hover: var(--dt-hover);
}

main .overview {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--sub-text);
  margin: 4.6rem 0 2.7rem;
}
main .overview__dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
}
main .overview__dashboard .dashboard__stats {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-background);
  width: 100%;
  max-width: 32.5rem;
  padding: 2.7rem 3.1rem 1.9rem 2.4rem;
  cursor: pointer;
}
main .overview__dashboard .dashboard__stats:hover {
  background-color: var(--hover);
}
main .overview__dashboard .stats__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
}
main .overview__dashboard .stats__container .stats__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--sub-text);
}
main .overview__dashboard .stats__container .stats__value {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--main-text);
}
main .overview__dashboard .stats__container .stats__media {
  align-self: end;
}
main .overview__dashboard .stats__container .stats__arrow-var {
  align-self: end;
  display: flex;
  align-items: center;
}
main .overview__dashboard .stats__container .stats__arrow-var .stats__variance {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(163, 72%, 41%);
}
main .overview__dashboard .stats__container .stats__arrow-var .--negative {
  color: hsl(356, 69%, 56%);
}

:root {
  --dt-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dt-top-background: hsl(232, 19%, 15%);
  --dt-background: hsl(230, 17%, 14%);
  --dt-card-background: hsl(228, 28%, 20%);
  --dt-main-text: hsl(0, 0%, 100%);
  --dt-sub-text: hsl(228, 34%, 66%);
  --dt-hover: hsl(228, 26%, 27%);
  --lt-toggle: hsl(230, 22%, 74%);
  --lt-top-background: hsl(225, 100%, 98%);
  --lt-background: hsl(0, 0%, 100%);
  --lt-card-background: hsl(227, 47%, 96%);
  --lt-main-text: hsl(230, 17%, 14%);
  --lt-sub-text: hsl(228, 12%, 44%);
  --lt-hover: hsl(232, 33%, 91%);
}

:root {
  --toggle: var(--lt-toggle);
  --top-background: var(--lt-top-background);
  --background: var(--lt-background);
  --card-background: var(--lt-card-background);
  --main-text: var(--lt-main-text);
  --sub-text: var(--lt-sub-text);
  --hover: var(--lt-hover);
}

.--dark-mode {
  --toggle: var(--dt-toggle);
  --top-background: var(--dt-top-background);
  --background: var(--dt-background);
  --card-background: var(--dt-card-background);
  --main-text: var(--dt-main-text);
  --sub-text: var(--dt-sub-text);
  --hover: var(--dt-hover);
}

@media only screen and (min-width: 1024px) {
  main .social-media__dashboard {
    margin: 0 15rem;
  }
  main .overview__dashboard {
    margin: 0 15rem;
  }
}
@media only screen and (min-width: 1340px) {
  main .social-media__dashboard {
    margin: 0 18rem;
  }
  main .overview__dashboard {
    margin: 0 18rem;
  }
}
@media only screen and (min-width: 1420px) {
  body {
    padding: 2.5% 11.4% 5.2% 11.25%;
  }
  body .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .intro .intro__text .text__title {
    font-size: 2.8rem;
  }
  body .intro hr {
    display: none;
  }
  body main .social-media__dashboard {
    margin: 0 auto;
  }
  body main .social-media__dashboard .dashboard__card {
    max-width: 25.6rem;
    padding: 3.3rem 6.3rem 2.3rem;
  }
  body main .overview__dashboard {
    max-width: 111.4rem;
    margin: 0 auto;
  }
  body main .overview__dashboard .dashboard__stats {
    max-width: 25.6rem;
  }
}/*# sourceMappingURL=style.css.map */