@import '../abstract/root';

@media only screen and (min-width: 1024px) {
    main {
        .social-media__dashboard {
            margin: 0 15rem;
        }

        .overview__dashboard {
            margin: 0 15rem;
        }
    }
}

@media only screen and (min-width: 1340px){
    main {
        .social-media__dashboard {
            margin: 0 18rem;
        }

        .overview__dashboard {
            margin: 0 18rem;
        }
    }
}

@media only screen and (min-width: 1420px) {
    body {
        padding: 2.5% 11.4% 5.2% 11.25%;

        .intro {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .intro__text {
                .text__title {
                    font-size: $r-title;
                }
            }

            hr {
                display: none;
            }
        }

        main {
            .social-media__dashboard {
                margin: 0 auto;
                .dashboard__card {
                    max-width: 25.6rem;
                    padding: 3.3rem 6.3rem 2.3rem;
                }
            }

            .overview__dashboard {
                max-width: 111.4rem;
                margin: 0 auto;

                .dashboard__stats {
                    max-width: 25.6rem;
                }
            }
        }
    }

}